@rendermode InteractiveServer

@inject NavigationManager NavigationManager

@using Blazicons

<Button @onclick="NavToSettings">
    <Blazicon Svg="Lucide.Settings" />
</Button>

@code {
    private void NavToSettings()
    {
        NavigationManager.NavigateTo("/settings");
    }
}