@page "/rd/{target}"
@attribute [AllowAnonymous]
@using Microsoft.AspNetCore.Authorization
@using OneUrl.Components.Layout
@using OneUrl.Models
@rendermode InteractiveServer
@layout EmptyLayout
@inject NavigationManager NavigationManager
@inject IHttpClientFactory ClientFactory
@inject IJSRuntime JSRuntime

<PageTitle>Redirecting...</PageTitle>

<div class="window">
    <div>
        Redirecting to @link
    </div>
    <div class="loading">
        
    </div>
</div>

@code {
    [Parameter]
    public string? Target {get; set;}

    private UrlRecord? link;
    private Exception? error;
    private string? baseUri = System.Environment.GetEnvironmentVariable("API_URL");

    private async void Navigate() 
    {
        try
        {
            var client = ClientFactory.CreateClient("AnonymousClient");
            link = await client.GetFromJsonAsync<UrlRecord>($"/redirect/{Target}");
            await Task.Delay(3000);
            if (link is null || link.location is null) return;
            NavigationManager.NavigateTo(link.location);
        }
        catch (Exception? e)
        {
            error = e;
        }
    }

    private async void NavFoward()
    {
        var client = ClientFactory.CreateClient();
        link = await client.GetFromJsonAsync<UrlRecord>($"{baseUri}/rd/{Target}");
        if (link is null || link.location is null) return;
        NavigationManager.NavigateTo(link.location);
    }

    private async void NavBack()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }

    protected override void OnInitialized()
    {
        Navigate();
        base.OnInitialized();
    }
}