@page "/"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Welcome</PageTitle>

<div class="bg">
    <div class="window">
        <h1>Welcome</h1>

        <button class="btn btn-primary" @onclick="Navigate">Get Started</button>
    </div>
</div>

@code {
    private void Navigate() {
        NavigationManager.NavigateTo("/home");
    }
}