@page "/Account/ForgotPasswordConfirmation"
@layout LoginLayout

@using OneUrlAuth.Components.Layout
@using Microsoft.FluentUI.AspNetCore.Components

<PageTitle>Forgot password confirmation</PageTitle>

<FluentStack Orientation="Orientation.Vertical">
    <h1>Forgot password confirmation</h1>
    <p role="alert">
        Please check your email to reset your password.
    </p>
</FluentStack>