@page "/Account/InvalidPasswordReset"
@layout LoginLayout

@using OneUrlAuth.Components.Layout
@using Microsoft.FluentUI.AspNetCore.Components

<PageTitle>Invalid password reset</PageTitle>

<FluentStack Orientation="Orientation.Vertical">
    <h1>Invalid password reset</h1>
    <p role="alert">
        The password reset link is invalid.
    </p>
</FluentStack>
