@page "/Account/InvalidUser"
@layout LoginLayout

@using OneUrlAuth.Components.Layout
@using Microsoft.FluentUI.AspNetCore.Components

<PageTitle>Invalid user</PageTitle>

<FluentStack Orientation="Orientation.Vertical">
    <h3>Invalid user</h3>

    <StatusMessage />
</FluentStack>
